---
import Card from "@/components/ui/Card.astro";
import Titles from "@/components/ui/Titles.astro";
import Layout from "@/layouts/Layout.astro";
import IndexDashboard from "../dashboard/index.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<Layout>
  <section class="w-11/12 mx-auto grid place-content-center py-6">
    <Card>
      <div
        class="p-8 grid items-center gap-6 grid-login md:grid-cols-1 w-full max-w-4xl"
      >
        <Titles text="¡Bienvenido!" className="text-center" />
        <img
          style="grid-area:illustration;"
          src="/hero.webp"
          alt="Login illustration"
          class="w-full object-cover hero-image"
        />
        {
          session ? (
            <p
              class="text-light-paragraph dark:text-dark-paragraph text-center"
              style="grid-area:description;"
            >
              Ya estás conectado como <strong class="font-semibold">{session?.user?.name}</strong>.<br />
              Ahora puedes acceder a todas las funcionalidades de nuestra plataforma.
            </p>
            <div class="[grid-area:button] flex flex-col gap-2">
              <a href="/dashboard" class="flex justify-center items-center gap-3 px-4 py-2 border border-light-border rounded-lg font-semibold cursor-pointer shadow-lg transition-colors duration-300 dark:border-dark-border/40 dark:shadow-dark-secondary/20 hover:border-light-text dark:hover:border-dark-border">
                Ir a panel de control
              </a>
              <button
                id="logout-session"
                class="flex justify-center items-center gap-3 px-4 py-2 border border-light-border rounded-lg font-semibold cursor-pointer shadow-lg transition-colors duration-300 dark:border-dark-border/40 dark:shadow-dark-secondary/20 hover:border-light-text dark:hover:border-dark-border"
                >
                Cerrar sesión
              </button>
            </div>
          ) : (  
            <p
              class="text-light-paragraph dark:text-dark-paragraph text-center"
              style="grid-area:description;"
            >
              Estás a punto de unirte a una comunidad increíble.<br />
              ¡Regístrate y comienza a disfrutar de todos nuestros beneficios!
            </p>
            <button
              id="login"
              class="flex justify-center items-center gap-3 px-4 py-2 border border-light-border rounded-lg font-semibold cursor-pointer shadow-lg transition-colors duration-300 dark:border-dark-border/40 dark:shadow-dark-secondary/20 hover:border-light-text dark:hover:border-dark-border"
            >
              <img
                src="https://www.svgrepo.com/show/475656/google-color.svg"
                alt="Google"
                class="w-5 h-5"
              />
              Iniciar con Google
            </button>
          )
        }
      </div>
    </Card>
  </section>
</Layout>

<style>
  .hero-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    filter: drop-shadow(0 10px 10px var(--color-light-text));
  }
  html.dark .hero-image {
    filter: drop-shadow(0 10px 10px var(--color-dark-card-bg));
  }

  .grid-login {
    grid-template-areas: "title" "illustration" "description" "button";
  }

  @media (width >= 48rem) {
    .grid-login {
      grid-template-areas:
        "illustration title"
        "illustration description"
        "illustration button";
      grid-template-columns: 1fr 1fr;
    }
  }
</style>

<script>
  import { signIn, signOut } from "auth-astro/client";
  document.addEventListener("astro:page-load", () => {
    const $btnLogin = document.getElementById("login");
    const $btnLogout = document.getElementById("logout-session");

    if ($btnLogin) {
      $btnLogin.onclick = () => signIn("google");
    }
    if ($btnLogout) {
      $btnLogout.onclick = () => signOut();
    }
  })
</script>
