---
interface Props {
  text: string;
  href: string;
  big?: boolean;
}
const { text, href, big = false } = Astro.props;
const sizeText = big ? "text-lg" : "text-sm";
---

<a
  href={href}
  class:list={[
    "relative bg-white/20 py-3 px-5 rounded-full btn-a overflow-hidden block w-max group hover:scale-95 transition-all duration-300",
    sizeText,
  ]}
>
  <span class="opacity-0">{text}</span>
  <span
    class:list={[
      "absolute inset-[2px] rounded-full bg-tertiary flex items-center justify-center transition-colors duration-300 font-medium text-light-bg",
      sizeText,
    ]}>{text}</span
  >
</a>

<style>
  a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 300px;
    background: linear-gradient(
      0deg,
      var(--color-secondary-pro),
      transparent,
      var(--color-secondary-pro)
    );
    /* background-color: var(--color-secondary-pro); */
    z-index: -5;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 2500ms linear;
  }
  a:hover::before {
    animation: rotate-in 2500ms linear infinite both;
  }

  @keyframes rotate-in {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
</style>
