@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* @import "./buttons.css"; */
/* Supports weights 400-900 */
@import '@fontsource-variable/playfair-display';

/* Supports weights 100-900 */
@import '@fontsource-variable/inter-tight';

@theme {
  --font-playfair: 'Playfair Display Variable', serif;
  --font-inter: 'Inter Tight Variable', sans-serif;
  /* --color-dark-secondary-pro: #22C3BB; */

  /* dark */
  --color-dark-bg: #0D1117;
  --color-dark-text: #F0F6FC;
  --color-dark-paragraph: #9198A1;
  --color-dark-primary: #50ADF6;
  --color-dark-secondary: #010409;
  --color-dark-card-bg: #151B23;
  --color-dark-border: #3D444D;
  --color-border-l: #1F6FEB;

  /* all themes */
  --color-secondary: #22C3BB;
  --color-tertiary: #1F6FEB;
  
  /* light */
  --color-light-bg: #ffffff;
  --color-light-text: #1f2328;
  --color-light-paragraph: #59636E;
  --color-light-border: #D1D9E0;
  --color-light-btn-hover: #EFF2F5;
  --color-light-primary: #1C8139;
  --color-light-secondary: #F6F8FA;


}