---
import BenefitsPage from "@/sections/BenefitsPage.astro";
import Layout from "../layouts/Layout.astro";
import HeroPage from "@sections/HeroPage.astro";
---

<Layout>
	<main class="px-4 w-full max-w-7xl mx-auto">
		<HeroPage />
		<BenefitsPage />
	</main>
</Layout>
