---
import BenefitsPage from "@sections/BenefitsPage.astro";
import Layout from "../layouts/Layout.astro";
import HeroPage from "@sections/HeroPage.astro";
import HowItWorkPage from "@sections/HowItWorkPage.astro";
import AdvicesPage from "@sections/AdvicesPage.astro";
import FaqPage from "@sections/FaqPage.astro";
// import NavMobile from "@/components/home/NavMobile.astro";
---

<Layout>
	<main class="w-full overflow-hidden">
		<HeroPage />
		<BenefitsPage />
		<HowItWorkPage />
		<AdvicesPage />
		<FaqPage />
	</main>
</Layout>
