---
import BenefitsPage from "@sections/BenefitsPage.astro";
import Layout from "../layouts/Layout.astro";
import HeroPage from "@sections/HeroPage.astro";
import HowItWorkPage from "@sections/HowItWorkPage.astro";
import AdvicesPage from "@sections/AdvicesPage.astro";
import FaqPage from "@sections/FaqPage.astro";
// import NavMobile from "@/components/home/NavMobile.astro";
---

<Layout>
	<main>
		<HeroPage />
		<div class="h-20" id="benefits"></div>
		<BenefitsPage />
		<div class="h-20" id="how-it-works"></div>
		<HowItWorkPage />
		<div class="h-20" id="advices"></div>
		<AdvicesPage />
		<div class="h-20" id="faqs"></div>
		<FaqPage />
	</main>
</Layout>
