---
interface Props {
  href: string;
}
const { href }: Props = Astro.props;
---

<a
  class="capitalize w-full bg-light-secondary border border-light-border flex items-center gap-2 text-light-paragraph p-1 rounded-lg hover:bg-light-btn-hover hover:translate-x-1 hover:text-light-text hover:border-light-paragraph/80 transition-all duration-300 dark:bg-dark-card-bg dark:border-dark-border/40 dark:text-dark-paragraph dark:hover:bg-dark-bg/20 dark:hover:text-dark-text/80 dark:hover:border-dark-border"
  href={href}
>
  <slot />
</a>
