---
import UIBottom from "../buttons/UIBottom.astro";
import { ToggleTheme } from "../buttons/ThemeButtonDesktop";
import Benefits from "@/assets/benefits.svg";
import HowItWorks from "@/assets/howItWork.svg";
import Advices from "@/assets/advices.svg";
import Faqs from "@/assets/faqs.svg";
import LinkNavMobile from "./LinkNavMobile.astro";
---

<nav
  class="fixed md:hidden w-[300px] h-[80dvh] top-0 z-20 rounded-lg nav-mobile transition-all duration-300 bg-light-bg/50 dark:bg-dark-card-bg/90 backdrop-blur-2xl border border-light-border dark:border-dark-border shadow-lg shadow-light-paragraph/10 dark:shadow-dark-secondary/50"
>
  <div
    class="flex flex-col items-center justify-between gap-4 p-4 h-full w-full"
  >
    <button
      class="btn-close cursor-pointer border border-light-border dark:border-dark-border p-1 rounded-lg size-8 self-start grid place-content-center text-lg transition-colors duration-300 bg-light-secondary hover:bg-light-paragraph/10 dark:bg-dark-card-bg"
      >✖</button
    >
    <ul class="w-full space-y-3">
      <li class="font-bold dark:font-semibold">Apariencia</li>
      <li class="flex justify-between items-center gap-10">
        <p class="text-sm font-semibold dark:font-normal">
          Dark Mode <span
            class="block font-normal text-light-paragraph dark:text-dark-paragraph"
            >Ajustar el tema de la app</span
          >
        </p>
        <ToggleTheme client:load />
      </li>
      <ul class="space-y-2 text-sm pt-5">
        <li class="font-bold text-base dark:font-semibold">Secciones</li>
        <li>
          <LinkNavMobile href="#benefits">
            <Benefits class="aspect-square w-5" />
            <span>Beneficios</span>
          </LinkNavMobile>
        </li>
        <li>
          <LinkNavMobile href="#how-it-works">
            <HowItWorks class="aspect-square w-5" />
            <span>Cómo funciona</span>
          </LinkNavMobile>
        </li>
        <li>
          <LinkNavMobile href="#advices">
            <Advices class="aspect-square w-5" />
            <span>Consejos</span>
          </LinkNavMobile>
        </li>
        <li>
          <LinkNavMobile href="#faqs">
            <Faqs class="aspect-square w-5" />
            <span>Preguntas frecuentes</span>
          </LinkNavMobile>
        </li>
      </ul>
    </ul>
    <UIBottom text="Iniciar sesión" href="/login" big />
  </div>
</nav>

<style>
  .nav-mobile {
    left: 110%;
  }
  .nav-mobile.open {
    left: calc(100% - 300px);
  }
</style>

<script>
  const $btnClose = document.querySelector(".btn-close") as HTMLButtonElement;
  const $navMobile = document.querySelector(".nav-mobile") as HTMLDivElement;

  $btnClose.addEventListener("click", () => {
    $navMobile.classList.remove("open");
  });
</script>
