---
import Card from "@/components/ui/Card.astro";
import Titles from "@/components/ui/Titles.astro";

const benefits = [
  {
    image: "/icons/grafics.webp",
    title: "Reportes visuales",
    description:
      "Visualiza tus gastos y analiza tus hábitos financieros fácilmente.",
  },
  {
    image: "/icons/segurity.webp",
    title: "Privacidad total",
    description:
      "No solicitamos información bancaria ni de tarjetas de crédito.",
  },
  {
    image: "/icons/easy.webp",
    title: "Fácil de usar",
    description: "Interfaz simple y rápida para registrar tus gastos.",
  },
  {
    image: "/icons/access.webp",
    title: "Acceso seguro",
    description: "Inicia sesión fácilmente con tu cuenta de Google.",
  },
];
---

<!-- Sección Beneficios estilizada con Tailwind CSS -->
<section id="benefits" class="pb-20">
  <div class="flex flex-col gap-10 items-center w-10/12 mx-auto max-w-5xl">
    <Titles subtitle text="¿Por qué usar Control de Finanzas?" />
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(170px,1fr))] gap-4 w-full"
    >
      {
        benefits.map((benefit) => (
          <Card>
            <div class="flex flex-col items-center text-center gap-2 py-4">
              <img
                src={benefit.image}
                alt={`Icono de ${benefit.title}`}
                class="w-16 h-16"
              />
              <h3 class="text-xl font-semibold">{benefit.title}</h3>
              <p class="text-light-paragraph">{benefit.description}</p>
            </div>
          </Card>
        ))
      }
    </div>
  </div>
</section>
