---
import FaqItem from "@/components/faqs/FaqItem.astro";
import Titles from "@/components/ui/Titles.astro";

const faqs = [
  {
    question: "¿Debo ingresar mis datos bancarios o tarjetas?",
    answer:
      "No. Jamás te pediremos información bancaria ni datos sensibles. Solo necesitas tu cuenta de Google para acceder y toda la información que registres es manejada con total privacidad.",
  },
  {
    question: "¿Tiene algún costo usar Control de Finanzas?",
    answer:
      "No, la plataforma es completamente gratuita. Puedes registrar, consultar y analizar tus finanzas sin ningún cargo oculto.",
  },
  {
    question: "¿Puedo acceder desde mi celular o tablet?",
    answer:
      "¡Por supuesto! Control de Finanzas funciona perfectamente en computadoras, tablets y teléfonos, adaptándose a cualquier pantalla.",
  },
  {
    question: "¿Qué tan segura es mi información?",
    answer:
      "Utilizamos autenticación segura con Google y no almacenamos información sensible. Tu privacidad y seguridad son nuestra prioridad.",
  },
  {
    question: "¿Puedo descargar mis reportes financieros?",
    answer:
      "Sí. Puedes exportar tus datos y reportes en formatos accesibles para llevar un respaldo o analizarlos fuera de la plataforma.",
  },
];
---

<section id="faq" class="bg-primary pb-20">
  <div class="max-w-3xl mx-auto px-4 space-y-10">
    <Titles text="Preguntas Frecuentes" subtitle />
    <div class="space-y-4">
      {
        faqs.map(({ question, answer }) => (
          <FaqItem question={question} answer={answer} />
        ))
      }
    </div>
  </div>
</section>
