---
import { getSession } from "auth-astro/server";
import OpenNavButton from "@/components/buttons/OpenNavButton.astro";
import UiLink from "@/components/buttons/UiLink.astro";
import NavMobile from "@/components/home/NavMobile.astro";
interface Props {
  home?: boolean;
  dashboard?: boolean;
}
const { home = false, dashboard = false }: Props = Astro.props;
const session = await getSession(Astro.request);
---

<header
  class="bg-light-secondary sticky top-0 z-10 animate-header p-4 border-b border-light-border dark:bg-dark-secondary dark:border-dark-border"
>
  <!-- <NavMobile /> -->
  <div class="w-full max-w-6xl mx-auto flex justify-between items-center">
    <a href="/" class="w-30 block order-1" transition:name="logo-pages">
      <img src="/logo.webp" alt="Logo de Fitnancial" class="w-full" />
    </a>
    <NavMobile inHome={home} />

    {
      session ? (
        <div class="order-2 md:order-3">
          <UiLink text="Cerrar Sesión" href="/" id="logout" />
        </div>
      ) : (
        <div class="order-2 md:order-3">
          <UiLink text="Iniciar sesión" href="/login" />
        </div>
      )
    }

    <div class="order-4 md:order-1">
      <OpenNavButton />
    </div>

    <!-- header -->
    <style>
      .animate-header {
        /* transition: all 2s; */
        animation: scrollDown 2s linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
      }

      @keyframes scrollDown {
        0% {
          scale: 1;
          border-radius: 0px;
          box-shadow: transparent;
        }
        100% {
          scale: 0.95;
          border-radius: 37px;
          box-shadow: 0 8px 12px #00000020;
        }
      }
    </style>
  </div>
</header>

<script>
  import { signOut } from "auth-astro/client";
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll(".section");
    const navItems = document.querySelectorAll(".btn-nav");
    const $btnLogout = document.getElementById("logout");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.35,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };

    if ($btnLogout) {
      $btnLogout.onclick = () => {
        signOut();
      };
    }
  });
</script>
