---
import OpenNavButton from "@/components/buttons/OpenNavButton.astro";
import UIBottom from "@/components/buttons/UIBottom.astro";
import NavMobile from "@/components/home/NavMobile.astro";
import navItems from "@/data/nav";
---

<header class="bg-secondary sticky top-0 z-10 animate-header p-4">
  <div class="w-full max-w-7xl mx-auto flex justify-between items-center">
    <a href="/" class="w-30 block">
      <img src="/logo.webp" alt="Logo de Control de finanzas" class="w-full" />
    </a>
    <nav class="hidden md:block">
      <ul class="flex items-center gap-4">
        {
          navItems.map(({ name, href }) => (
            <li>
              <a class="capitalize" href={href}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <UIBottom text="Iniciar sesión" href="/login" />

    <!-- Mobile Navigation Button and Navist -->
    <div class="md:hidden grid grid-cols-[1fr_auto]">
      <OpenNavButton />
      <NavMobile />
    </div>
  </div>
</header>

<!-- header -->
<style>
  .animate-header {
    /* transition: all 2s; */
    animation: scrollDown 2s linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  @keyframes scrollDown {
    0% {
      scale: 1;
      border-radius: 0px;
      background-color: #010409;
      /* backdrop-filter: blur(0px); */
      box-shadow: transparent;
    }
    100% {
      scale: 0.9;
      border-radius: 37px;
      background-color: #010409f1;
      /* backdrop-filter: blur(10px); */
      box-shadow: 0 8px 12px #ffffff10;
    }
  }
</style>
