---
import OpenNavButton from "@/components/buttons/OpenNavButton.astro";
import { ToggleTheme } from "@/components/buttons/ThemeButtonDesktop";
import UIBottom from "@/components/buttons/UIBottom.astro";
import NavMobile from "@/components/home/NavMobile.astro";
import navItems from "@/data/nav";
---

<header
  class="bg-light-secondary sticky top-0 z-10 animate-header p-4 border-b border-light-border dark:bg-dark-secondary dark:border-dark-border"
>
  <!-- <NavMobile /> -->
  <div class="w-full max-w-6xl mx-auto flex justify-between items-center">
    <a href="/" class="w-30 block">
      <img src="/logo.webp" alt="Logo de Fitnancial" class="w-full" />
    </a>
    <nav class="hidden md:block text-light-paragraph dark:text-dark-paragraph">
      <ul class="flex items-center justify-center gap-4">
        {
          navItems.map(({ name, href }) => (
            <li>
              <a class="capitalize" href={href}>
                {name}
              </a>
            </li>
          ))
        }
        <li class="grid place-content-center pl-8">
          <ToggleTheme client:load />
        </li>
      </ul>
    </nav>
    <UIBottom text="Iniciar sesión" href="/login" />

    <!-- Mobile Navigation Button and Navist -->
    <div class="md:hidden">
      <OpenNavButton />
      <!-- <NavMobile /> -->
    </div>
  </div>
</header>

<!-- header -->
<style>
  .animate-header {
    /* transition: all 2s; */
    animation: scrollDown 2s linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  @keyframes scrollDown {
    0% {
      scale: 1;
      border-radius: 0px;
      box-shadow: transparent;
    }
    100% {
      scale: 0.95;
      border-radius: 37px;
      box-shadow: 0 8px 12px #00000020;
    }
  }
</style>
