---
import OpenNavButton from "@/components/buttons/OpenNavButton.astro";
import { ToggleTheme } from "@/components/buttons/ThemeButtonDesktop";
import UIBottom from "@/components/buttons/UIBottom.astro";
import LinkNavMobile from "@/components/home/LinkNavMobile.astro";

import Benefits from "@/assets/benefits.svg";
import HowItWorks from "@/assets/howItWork.svg";
import Advices from "@/assets/advices.svg";
import Faqs from "@/assets/faqs.svg";
---

<header
  class="bg-light-secondary sticky top-0 z-10 animate-header p-4 border-b border-light-border dark:bg-dark-secondary dark:border-dark-border"
>
  <!-- <NavMobile /> -->
  <div class="w-full max-w-6xl mx-auto flex justify-between items-center">
    <a href="/" class="w-30 block order-1">
      <img src="/logo.webp" alt="Logo de Fitnancial" class="w-full" />
    </a>
    <nav
      class="order-3 md:order-2 absolute top-0 right-0 w-[300px] rounded-lg nav-mobile transition-all duration-500 bg-light-bg/50 dark:bg-dark-card-bg/90 backdrop-blur-2xl border border-light-border dark:border-dark-border shadow-lg shadow-light-paragraph/10 dark:shadow-dark-secondary/50 z-20 p-4 md:relative md:border-0 md:backdrop-blur-none md:w-full md:p-0"
    >
      <ul
        class="flex flex-col gap-8 my-14 rounded-xl md:flex-row md:my-0 justify-center"
      >
        <li class="font-bold dark:font-semibold md:hidden">Apariencia</li>
        <li
          class="flex justify-between items-center gap-10 md:order-2 md:gap-0"
        >
          <p class="text-sm font-semibold dark:font-normal md:hidden">
            Dark Mode <span
              class="block font-normal text-light-paragraph dark:text-dark-paragraph"
              >Ajustar el tema de la app</span
            >
          </p>
          <ToggleTheme client:load />
        </li>
        <ul
          class="flex flex-col gap-2 text-sm pt-2 md:order-1 md:flex-row md:items-center md:p-0 md:gap-8"
        >
          <li class="font-bold text-base dark:font-semibold md:hidden">
            Secciones
          </li>
          <li>
            <LinkNavMobile href="#benefits" label="benefits">
              <Benefits class="aspect-square w-5" />
              <span>Beneficios</span>
            </LinkNavMobile>
          </li>
          <li>
            <LinkNavMobile href="#how-it-works" label="how-it-works">
              <HowItWorks class="aspect-square w-5" />
              <span>Cómo funciona</span>
            </LinkNavMobile>
          </li>
          <li>
            <LinkNavMobile href="#advices" label="advices">
              <Advices class="aspect-square w-5" />
              <span>Consejos</span>
            </LinkNavMobile>
          </li>
          <li>
            <LinkNavMobile href="#faqs" label="faqs">
              <Faqs class="aspect-square w-5" />
              <span>Preguntas frecuentes</span>
            </LinkNavMobile>
          </li>
        </ul>
        <li class="w-full grid place-content-center md:hidden">
          <UIBottom text="Iniciar sesión" href="/login" big />
        </li>
      </ul>
    </nav>
    <div class="order-2 md:order-3">
      <UIBottom text="Iniciar sesión" href="/login" />
    </div>
    <div class="order-4 md:order-1">
      <OpenNavButton />
    </div>

    <!-- header -->
    <style>
      .animate-header {
        /* transition: all 2s; */
        animation: scrollDown 2s linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
      }

      @keyframes scrollDown {
        0% {
          scale: 1;
          border-radius: 0px;
          box-shadow: transparent;
        }
        100% {
          scale: 0.95;
          border-radius: 37px;
          box-shadow: 0 8px 12px #00000020;
        }
      }
      .nav-mobile {
        /* transition: clip-path 200ms ease-in-out; */
        clip-path: inset(0 0 0 100%);
      }
      .nav-mobile.open {
        clip-path: inset(0 0 0 0);
      }

      @media (width >= 48rem) {
        .nav-mobile {
          background-color: transparent;
          clip-path: inset(0 0 0 0);
        }
      }
    </style>
  </div>
</header>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll(".section");
    const navItems = document.querySelectorAll(".btn-nav");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.35,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
