---
import UIBottom from "@/components/buttons/UIBottom.astro";
import Titles from "@/components/ui/Titles.astro";
---

<section class="py-20" id="hero">
  <div
    class="w-11/12 mx-auto max-w-5xl flex flex-col md:flex-row items-center justify-center"
  >
    <div class="flex-1 flex flex-col justify-center gap-6">
      <Titles text="Bienvenido a Control de Finanzas" />
      <div class="d">
        <p class="text-pretty text-light-paragraph">
          Gestiona tus finanzas personales de forma sencilla, segura y privada. <strong
            class="font-bold">100% Privacidad:</strong
          > Nunca pedimos tus datos bancarios ni de tarjetas.
        </p>
      </div>
      <div class="buttons">
        <UIBottom text="Comenzar" href="/login" />
      </div>
    </div>
    <figure class="flex-1">
      <img
        src="/hero.webp"
        alt="Imagen hero de la página principal"
        class="hero-image"
      />
    </figure>
  </div>
</section>

<style>
  .hero-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    filter: drop-shadow(0 10px 10px var(--color-secondary));
  }
</style>
