---
import SetItem from "@/components/ui/SetItem.astro";
import Titles from "@/components/ui/Titles.astro";

const sets = [
  {
    numero: 1,
    title: "Inicia sesión con Google",
    subtitle: "Acceso rápido y seguro",
    description:
      "Ingresa fácilmente utilizando tu cuenta de Google. Tus datos estarán siempre protegidos y nunca solicitamos información bancaria.",
  },
  {
    numero: 2,
    title: "Registra tus movimientos",
    subtitle: "Gastos e ingresos",
    description:
      "Añade tus gastos e ingresos en la plantilla digital. Organiza cada movimiento por categoría y mantén el control de tu economía personal.",
  },
  {
    numero: 3,
    title: "Consulta tus reportes",
    subtitle: "Resumen y análisis",
    description:
      "Visualiza gráficos y resúmenes claros de tus finanzas. Identifica patrones y toma mejores decisiones para tu futuro económico.",
  },
];
---

<section
  class="section pb-20 scroll-mt-20"
  id="how-it-works"
  data-section="how-it-works"
>
  <div class="flex flex-col pl-2 items-center gap-10 w-11/12 max-w-5xl mx-auto">
    <Titles text="¿Cómo funciona?" subtitle />
    <ol class="relative">
      {
        sets.map((set) => (
          <SetItem
            title={set.title}
            subtitle={set.subtitle}
            description={set.description}
            number={set.numero}
          />
        ))
      }
    </ol>
  </div>
</section>
