---
import "../styles/global.css";
import HeaderPage from "@sections/HeaderPage.astro";
import ScrollTo from "@/components/buttons/ScrollTo.astro";
import FooterPage from "@/sections/FooterPage.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	inHome?: boolean;
}
const { inHome = true }: Props = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FitNancial | Control de finanzas Esteban Dev</title>
		<ClientRouter />
	</head>
	<body
		class="font-inter font-normal w-full bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text text-base max-w-[1366px] mx-auto overflow-x-hidden transition-colors duration-300 relative"
	>
		<div class="min-h-dvh grid grid-rows-[auto_1fr_auto]">
			<HeaderPage home={inHome} transition:name="header-pages" />
			<!-- <NavMobile /> -->
			<slot />
			<ScrollTo />
			<FooterPage home={inHome} transition:name="footer-pages" />
		</div>
	</body>
</html>
