---
import "../styles/global.css";
import HeaderPage from "@sections/HeaderPage.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Control de financas | Esteban Dev</title>
	</head>
	<body
		class="font-inter font-light text-sm bg-primary text-gray-50 md:text-base lg:text-lg"
	>
		<HeaderPage />
		<slot />
	</body>
</html>
